@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
$bg-img: url('../assets/junglePic.jpeg');

body {
  text-align: center;
  margin-top: 100px;
  background: $bg-img no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: cafeteria, sans-serif;
  font-style: normal;
  font-weight: 300;
}

#card-container {
  display: flex;
  margin: 2em auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 1em;
  border: 2px solid black;
}

.card-img-top {
  height: 100%;
  width: auto;
}

.view-card-style {
  transition: transform 300ms, box-shadow 300ms;
  background-color: #d4948f;
  border-radius: 35%;
}

.view-card-style:hover {
  transform: scale(1.3);
}

h1 {
  font-family: 'Londrina Solid', cursive;
  font-size: 64px;
}

a h5 {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

div.pointer {
  cursor: pointer;
}

.chaos-button {
  width: 8rem;
  height: auto;
  position: fixed;
  top: 11%;
  right: 1%;
  cursor: pointer; 
}

#toast-container {
  position: fixed;
  top: 20%;
  left: 10%;
}

.chaos-button .card {
  background-color: #d4948f;
}

.chaos-button .card-body {
  padding: 3px;
}

.chaos-button .card-body p {
  color: black;
  font-weight: 600;
}

.monkey {
	pointer-events: none;
}

.monkey > * {
/* Adjust animation duration to change the element’s speed */
  animation: fly 50s linear infinite;
  pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
    display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}
