@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
$bg-img: url('../assets/junglePic.jpeg');

body {
  text-align: center;
  margin-top: 100px;
  background: $bg-img no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: cafeteria, sans-serif;
  font-style: normal;
  font-weight: 300;
}

#card-container {
  display: flex;
  margin: 2em auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 1em;
  border: 2px solid black;
}

#view-card-style {
  transition: transform 300ms, box-shadow 300ms;
}

#view-card-style:hover {
  transform: scale(1.1);
}

h1 {
  font-family: 'Londrina Solid', cursive;
  font-size: 64px;
}

a h5 {
  text-decoration: none;
  color: black;
}
